<!DOCTYPE HTML>
<html>
	<head>
		<title>Research</title>
  		<link rel="stylesheet" type="text/css" href="../../css/styles.css">
  		<link rel="stylesheet" type="text/css" href="../../css/icons/font-awesome.min.css">
	</head>
	<body>
	<!-- Main wrapper -->
		<div id="wrapper">
			<!-- menu List items-->
			<nav class="menu-bar">
				<ul class="menu-items">
					<li><a href="../../index.html" class="item"><img src="../../images/home.png" /><span>Home</span></a></li>
					<li><a href="research.html" class="item active"><img src="../../images/research.png" /><span>Research</span></a></li>
					<li><a href="../projects/projects.html" class="item"><img src="../../images/projects.png" /><span>Projects</span></a></li>
					<li><a href="../meetings/meetings.html" class="item"><img src="../../images/meetings.png" /><span>Meetings</span></a></li>
					<li><a href="../literature/literature.html" class="item"><img src="../../images/literature.png" /><span>Literature</span></a></li>
				</ul>
			</nav>
			<div class="container">Research</div>
		</div>
		<script type="text/javascript" src="../../js/scripts.js"></script>
	</body>
</html>